{{ define "device-cards" }}
{{ range . }}
<div class="col-md-6 col-lg-4">
  <div class="card shadow-sm">
    <img src="/static/photos/{{ .Device.Photo }}" class="card-img-top" width="100%" alt="Image not available">
    <div class="card-body">
      <h5 class="card-title">{{ .Device.Title }}</h5>
      <p class="card-text">{{ .Device.Category }}</p>

      <div class="d-flex justify-content-between align-items-center w-100">
        <button class="btn btn-danger" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse-{{ .Device.ID }}" aria-expanded="false" aria-controls="collapseExample">
          Details
        </button>
        <a class="icon-link" href="#" hx-put="/api/like" hx-vals='js:{
            "userID": sessionStorage.getItem("userID"),
            "deviceID": {{ .Device.ID }}
          }' hx-swap="none">
          <i id="heart-{{ .Device.ID }}" class="bi {{ if .Liked }} bi-heart-fill {{ else }} bi-heart {{ end }}fs-4"
            style="color: red;"></i>
        </a>
        <script>
          document.getElementById('heart-{{ .Device.ID }}').addEventListener('click', function () {
            this.classList.toggle('bi-heart');
            this.classList.toggle('bi-heart-fill');
          });
        </script>
      </div>

      <!-- Collapsible Content -->
      <div class="collapse" id="collapse-{{ .Device.ID }}">
        <div class="card card-body">
          <p class="fs-6 mb-1 text-decoration-underline">Description</p>
          <p class="mb-1 text-muted">{{ .Device.Description }}</p>
          
          <p class="fs-6 mb-1 text-decoration-underline">Location</p>
          <p class="mb-1 text-muted">{{ .Device.Location }}</p>
          
          <p class="fs-6 mb-1 text-decoration-underline">Owner</p>
          <p class="mb-1 text-muted">{{ .OwnerName }}</p>
          <button class="btn btn-outline-danger" type="button" hx-put="/api/reserve" hx-swap="none" hx-vals='js:{
            "userID": sessionStorage.getItem("userID"),
            "deviceID": {{ .Device.ID }}
          }'>
            Reservieren
          </button>
          <button class="btn btn-outline-danger" type="button" hx-get="/api/contact" hx-trigger="click" hx-vals='js:{
            "userID": sessionStorage.getItem("userID"),
            "otherID": {{ .OwnerID }}
          }'>
            Besitzer Kontaktieren
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
{{ end }}