{{ define "device-cards" }}
{{ range .Devices }}
<div class="col-md-6 col-lg-4">
  <div class="card shadow-sm">
    <div class="card-body">
      <h5 class="card-title">{{ .Name }}</h5>
      <p class="card-text">{{ .Description }}</p>
      <p class="mb-1 text-muted">{{ .Category }}</p>
      <p class="mb-1 text-muted">{{ .Location }}</p>
      {{/* <a href="collapseExample" class="btn btn-sm btn-primary" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample" >Details</a> */}}
      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ .ID }}" aria-expanded="false" aria-controls="collapseExample">
      Details per Button
      </button>

      <!-- Collapsible Content -->
      <div class="collapse" id="collapse-{{ .ID }}">
        <div class="card card-body">
         Some placeholder content for the collapse component.
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
{{ end }}