{{ define "navbar" }}
<script>
    if (sessionStorage.getItem('userID') == null) {
        sessionStorage.setItem('userID', 0);
    }
</script>

<nav class="navbar navbar-expand-sm navbar-dark bg-danger fixed-bottom">
    <div class="container-fluid justify-content-center text-cente">

            <!-- Icons -->
            {{/* <ul class="navbar-nav d-flex flex-row me-1 align-items-center flex-grow-1">
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link mx-1 text-black" href="/browse"><i class="bi bi-search"></i></a>
                </li>
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link mx-1 text-black" href="#"><i class="bi bi-wallet"></i></a>
                </li>
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link mx-1 text-black" href="/adddevice"><i class="bi bi-plus-circle"></i></a>
                </li>
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link mx-1 text-black" href="/chatsoverview"><i class="bi bi-chat-left-dots"></i></a>
                </li>
                </li>
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link text-black" href="/settings"><i class="bi bi-gear-wide"></i></a>
                </li>
            </ul>   */}}
            {{/* <ul class="navbar-nav d-flex flex-row me-1 align-items-center flex-grow-1"> */}}
            <ul class="navbar-nav d-flex justify-content-center flex-row align-items-center "></ul>
                <li class="nav-item">
                    <a class="nav-link mx-1 text-black" href="/browse"><i class="bi bi-search"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-1 text-black" href="#"><i class="bi bi-wallet"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active mx-1 text-black" href="/adddevice"><i class="bi bi-plus-circle"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-1 text-black" href="/chatsoverview"><i class="bi bi-chat-left-dots"></i></a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="/settings"><i class="bi bi-gear-wide"></i></a>
                </li>
            </ul>    
    </div>
</nav>
{{ end }}