{{ define "navbar" }}
<script>
    if (sessionStorage.getItem('userID') == null) {
        sessionStorage.setItem('userID', 0);
    }
</script>

<script src="/static/htmx/ext/ws.js"></script>
<script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
<style>
  .nav-icon-wrapper {
    padding: 6px;
    border-radius: 50%;
    transition: all 0.2s ease;
  }
  .nav-link.active .nav-icon-wrapper {
    background-color: white;
  }
  .nav-link.active i {
    color:rgb(250, 231, 233) !important;
  }
  .nav-link:active i {
    opacity: 0.7;
    transform: scale(0.95);
  }
  .nav-link i {
    transition: transform 0.1s ease, color 0.2s ease;
  }
  a i.active {
    color: rgb(250, 231, 233) !important;
  }
</style>

<div hx-ext="ws" id="notify-connect"></div>
<div id="notifications" class="toast-container position-fixed top-0 end-0 p-3"></div>
<script>
    document.getElementById('notify-connect').setAttribute('ws-connect', '/ws?userID=' + sessionStorage.getItem('userID'));

    document.body.addEventListener('htmx:wsAfterMessage', function (event) {
        const newToast = document.getElementById("notifications").firstElementChild;

        const user = new URLSearchParams(window.location.search).get('user');
        if (newToast.innerHTML.includes(user)) {
            return;
        }

        const realToast = new bootstrap.Toast(newToast);
        realToast.show();

        newToast.addEventListener('hidden.bs.toast', function () {
            newToast.remove();
        });
    });
</script>

<nav class="navbar navbar-dark bg-danger fixed-bottom">
    <div class="container-fluid d-flex justify-content-center">
    
        <!-- UL wird zentriert, Abstand per gap -->
        <ul class="navbar-nav d-flex flex-row align-items-center gap-5">
            <li class="nav-item">
                <a id="search-icon" class="nav-link text-black" href="/browse"><i class="bi bi-search fs-4"></i></a>
            </li>
            <li class="nav-item">
                <a id="offers-icon" class="nav-link text-black" href="/offers"><i class="bi bi-wallet fs-4"></i></a>
            </li>
            {{/* Dummy Icon for spaceing in navbar */}}
            <li class="nav-item">
                <a class="nav-link text-black" href="#"></a>
            </li>
            <li class="nav-item">
                <a id="contacts-icon" class="nav-link text-black" href="/contacts"><i class="bi bi-chat-left-dots fs-4"></i></a>
            </li>
            <li class="nav-item">
                <a id="settings-icon" class="nav-link text-black" href="/settings"><i class="bi bi-gear-wide fs-4"></i></a>
            </li>
        </ul>
    </div>
</nav>

<a href="/add"
   class="btn btn-danger rounded-circle shadow d-flex justify-content-center align-items-center position-fixed"
   style="color: black; border: 2px solid black;
          bottom: 35px; left: 50%; transform: translateX(-50%);
          width: 56px; height: 56px; z-index: 1031;">
  <i id="add-icon" class="bi bi-plus fs-4"></i>
</a>

<script>
  const path = window.location.pathname; 
  const parts = path.split('/');
  const last = parts[parts.length - 1];
  switch (last) {
    case "browse":
      document.getElementById('search-icon').classList.add('active')
      break;
    case "offers":
      document.getElementById('offers-icon').classList.add('active')
      break;
    case "contacts":
      document.getElementById('contacts-icon').classList.add('active')
      break;
    case "settings":
      document.getElementById('settings-icon').classList.add('active')
      break;
    case "add":
      document.getElementById('add-icon').classList.add('active')
      break;
    default:
  }
</script>

{{ end }}