<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/bootstrap-icons/bootstrap-icons.min.css" rel="stylesheet">
  <script src="/static/htmx/htmx.min.js"></script>
</head>

<body>

  {{ template "head" }}

  <!-- Main Content -->
  <div class="container py-4">

    <form onsubmit="return false;" action="" hx-get="/api/search"
      hx-trigger="load, keyup changed delay:200ms from:#search, change from:#category" hx-target="#device-list"
      hx-swap="innerHTML" hx-vals='js:{
              "userID": sessionStorage.getItem("userID"),
              "uExcept": "true"
            }'>

      <!-- Search -->
      <div class="row mb-4">
        <div class="col-12">
          <input name="search" id="search" class="form-control" type="text" placeholder="Search" />
        </div>
      </div>

      <select class="form-select my-4" name="category" id="category">
        <option id="any" hx-get="/api/component/category-list" hx-trigger="load" hx-swap="afterend" hx-target="#any">
          Any</option>
      </select>

    </form>

    <!-- Device List -->
    <div id="device-list" class="row g-4"></div>
  </div>

  {{ template "navbar" }}

</body>

</html>